python-multipart
requests_toolbelt
gradio
deepfilternet
mishkal
dvc[ssh]
JPype1
konlpy
Cython
fastapi[all]
uvicorn[standard]
starlette
gunicorn
redis
celery
matplotlib
scikit-learn
einops
librosa
tqdm
pydub
pandas
scipy
omegaconf
jamo
jamotools
nltk
hangul-jamo
pydantic
onnxruntime
num2words
jaconv
jieba
pypinyin
pyloudnorm
python-mecab-ko
phonemizer
transformers
pysqlite3