mishkal
dvc[ssh]
deepfilternet
JPype1
konlpy
fasttext
Cython
fastapi[all]
uvicorn[standard]
starlette
gunicorn
redis
celery
flower
matplotlib
scikit-learn
einops
transformers
datasets
evaluate
librosa
tqdm
pydub
ipykernel
pandas
numba
scipy
wandb
omegaconf
jamo
jamotools
nltk
hangul-jamo
plotly
pydantic
praat-parselmouth
onnxruntime
onnxruntime-gpu
pyworld
num2words
jaconv
jieba
pypinyin
pyloudnorm
python-mecab-ko
phonemizer
jupyter
jupyterlab
boto3
